* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.mybtn {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.mybtn button {
  padding: 10px 30px;
  font-size: 50px;
  background-color: blueviolet;
  color: white;
  border: none;
}
p {
  font-size: 70px;
}
