* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
}
body {
  background-color: aqua;
}

.mycard {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}

.box-data {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.haiding-data {
  margin-left: 10px;
}
.side-1 span {
  margin-left: 40px;
}

.card-data {
  padding: 20px 15pxS;
  margin-top: 20px;
  text-overflow: break-word;
}
.mytable th {
  border: 2px solid black;
  text-align: center;
  padding: 10px 30px;
}
.mytable td {
  color: grey;
  padding: 15px 20px;
}
.mytable tr {
  border: 2px solid black;
  text-align: center;
  padding: 12px;
}
.data {
  margin-top: 10px;
}

.fecth-data span {
  margin-left: 10px;
  font-size: 18px;
}
.mybox {
  display: flex;
  justify-content: space-evenly;
}
.option-select {
  display: flex;
  gap: 10px;
}
.state-data {
  margin-top: 10px;
}
select {
  text-align: center;
}
.mytable {
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
}
.fetch-state-data P {
  margin-top: 20px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .mybox {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .mybox {
    flex-wrap: wrap;
  }
  .option-select {
    flex-wrap: wrap;
  }
}
